.app {
  padding: 60px 40px;
  text-align: center;
}

.app__subscribe-button {
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 10;
}

.app__form {
  width: 100%;
  padding: 10px;
}

.app__form-buttons {
  float: right;
  margin-right: 0px;
}